{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="page-header"><a href="/">Map Another Site</a>
    </div>
  </div>
  <div class="row">

<!-- Need to get iframe working to have website on one side and plotted locations on other -->
<!-- Currently map plots over other items on page -->

<!--     <div class="col-8">
    </div>
    <div class="col-4"> -->
      <div class="container-fluid" id='map'>
      </div>
<!--     </div> -->
  </div>
</div>


<script>

// need to use "|tojson" to make jinja variable a string!
mapboxgl.accessToken = {{ mapbox|tojson }};

const map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v9',
  center: [-96, 37.8],
  zoom: 3
});

let geojson = {
  type: 'FeatureCollection',
  features: []
};

let places = {{ places|tojson }}

// add each place to the geojson object
for (let place of places) {
  geojson.features.push({
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: place[1]
    },
    properties: {
      title: 'Site Place',
      description: place[0]
    }
  })
}

// add markers to map
geojson.features.forEach(function(marker) {

  // create a HTML element for each feature
  const el = document.createElement('div');
  el.className = 'marker';

  // make a marker for each feature and add to the map
  new mapboxgl.Marker(el)
  .setLngLat(marker.geometry.coordinates)
  .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
  .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
  .addTo(map);
});

</script>

{% endblock %}